@media only screen and (max-width:767px) and (min-width:320px) {
.top-header-left ul li i {
    width: 20px;
    height: 20px;
}
.top-envelope-o {
    padding: 9px 0 0 0 !important;
    font-size: 10px !important;
}
.top-header-left ul li p {
    font-size: 12px;
    padding: 0px 5px 5px 26px;
}
.top-header-left ul {
    text-align: center;
}
.top-header .col-md-6{
	padding-right: 0px;
    padding-left: 0px;
}
.top-header-left ul li i {
    padding: 9px 6px;
    margin-right: 3px;
    font-size: 10px;
}
.top-header-right ul {
    /*float: none;
    text-align: center;*/
    display: none;
}
.top-header-right .fab {
    width: 24px;
    height: 24px;
    padding: 12px 5px;
    margin-right: 0px;
    font-size: 12px;
}
.fab-twit {
    padding: 12px 0px !important;
}
.fab-skype {
    padding: 12px 0px !important;
}
.fab-inst {
    padding: 12px 0px !important;
}
.top-btn {
    float: none;
    text-align: center;
}
.top-btn .btn-all {
    padding: 4px 8px;
    margin: 0 10px 0 0;
    font-size: 12px;
    line-height: 30px;
}
.top-btn .btn-all-pink {
    padding: 4px 8px;
    margin: 0 10px 0 0;
    font-size: 12px;
    line-height: 30px;
}
.logo {
    width: 50%;
}
#ddmenu {
    float: none;
}
#ddmenu .menu-icon {
    position: absolute;
    right: 2px;
    top: -32px;
    width: 36px;
    height: 32px;
    font-size: 24px;
}
#ddmenu .menu-icon::before {
    top: 0.38em;
    left: 6px;
    border-top: 0.375em double #ff1949;
	border-bottom: 0.125em solid #ff1949;
}
/*#ddmenu .menu-icon-active {
    background-color: #fff;
}*/
#ddmenu ul {
    border-top: 1px solid rgba(200,200,200,0.2);
    margin-top: 15px;
    float: left;
}
#ddmenu .top-heading {
    padding: 10px 20px;
}
#ddmenu li {
    font-size: 14px;
}
#ddmenu .caret {
    top: 20px;
}
#ddmenu .column h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
}
#ddmenu .column h3::after {
    left: 10%;
    bottom: 10%;
}
#ddmenu .dropdown a {
    font-size: 13px;
}
#ddmenu .column {
    width: 100%;
    float: left;
}
#ddmenu .dd-inner {
    float: left;
    width: 100%;
    padding: 0 0 20px 0;
}
#ddmenu .column h3 a {
    font-size: 15px;
}
.home-banner-text p {
    font-size: 12px;
    margin: 3px 0;
}
.home-banner-text h1 {
    font-size: 14px;
}
.home-banner-text h5 {
    font-size: 14px;
    margin: 0;
}
.home-banner-text h1, .home-banner-text h4 {
    font-size: 14px;
    margin: 0;
}
.home-banner-btn {
    padding-top: 20px;
}
.home-banner-btn .btn-all-pink {
	padding: 6px 15px;
	margin: 0 5px 0 0;
    font-size: 12px;
}
.home-banner-btn .btn-all-green {
	padding: 6px 15px;
	margin: 0 5px 0 0;
    font-size: 12px;
}
.heading-center h2 {
    font-size: 22px;
}
.popular-tour-sec-main .owl-nav {
    top: -5%;
}
.popular-tour-sec-main .owl-carousel .owl-nav button.owl-prev {
    width: 23px;
    height: 23px;
    font-size: 28px !important;
    margin: 0 5px;
}
.popular-tour-sec-main .owl-carousel .owl-nav button.owl-next {
    width: 23px;
    height: 23px;
    font-size: 28px !important;
    margin: 0 5px;
}
#popular-tour-sec .row{
	margin-right: 0px;
    margin-left: 0px;
}
.popular-tour-single-content-day-price {
    display: none;
}
.popular-tour-single-content-title h3 {
    font-size: 15px;
    min-height: 90px;
}
.popular-tour-single-content-title p {
    font-size: 12px;
    min-height: 70px;
    display: none;
}
.popular-tour-single-content-day p {
    font-size: 12px;
}
.popular-tour-single-content-day i {
    font-size: 12px;
}
.popular-tour-single-content-price p {
    font-size: 16px;
}
.popular-tour-single-content-btn .btn-all-pink {
	padding: 6px 15px;
	margin: 0;
    font-size: 12px;
}
.popular-tour-single-content {
    padding: 10px 10px;
}
.why-euro-asia-hm-card-btn .btn-all-pink {
    font-size: 11px;
    padding: 4px 15px;
}
.why-euro-asia-hm-card {
    padding: 15px 10px 15px 10px;
}
.why-euro-asia-hm-card-btn {
    padding-top: 5px;
}
.why-euro-asia-hm-card span {
    height: 44px;
    width: 44px;
}
.why-euro-asia-hm-card span img {
    padding: 12px;
}
.why-euro-asia-hm-card h4 {
    font-size: 14px;
    padding: 8px 0 8px 0;
}
.why-euro-asia-hm-card p {
    font-size: 12px;
    display: none;
}
.why-euro-pop-up p {
    font-size: 12px;
}
#why-modal-1 .close {
    font-size: 32px;
}
#why-modal-2 .close {
    font-size: 32px;
}
#why-modal-3 .close {
    font-size: 32px;
}
#why-modal-4 .close {
    font-size: 32px;
}
.modal-title-hdng {
    font-size: 15px;
    padding: 8px 0 0px 0;
}
.modal-header {
    padding: 8px 15px;
}
.why-euro-pop-up h6 {
    font-size: 13px;
}
.best-central-asia-sec-text {
    padding: 10px 0;
    border-right: none;
}
.best-central-asia-sec-text h3 {
    font-size: 16px;
}
.best-central-asia-sec-text p {
    font-size: 13px;
    padding: 0 0 5px 0;
}
.best-central-asia-sec-text a {
    font-size: 13px;
}
.best-asia-counter-sec-single-text h5 {
    font-size: 16px;
}
.best-asia-counter-sec-single-text p {
    font-size: 11px;
}
.best-asia-counter-sec-single-text span {
    top: 2px;
    right: 15%;
    font-size: 20px;
}
.best-asia-counter-sec-single-fig {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-top: 12px;
}
.best-asia-counter-sec-single {
    margin: 7px 0;
}
#top-places-hm-sec .row{
	margin-right: 0; 
   	margin-left: 0;
}
.top-places-hm-sec-main {
    margin-top: 5px;
}
.top-places-hm-sec-main-title h3 {
    font-size: 14px;
}
.top-place-btn {
    margin: 15px 0 0 0;
}
.top-place-btn .btn-all-pink {
    float: left;
    padding: 6px 8px;
    margin: 0 0px;
    font-size: 11px;
    width: 100%;
    margin: 4px 0;
}
.various-travel-pkgs-sec-main {
    margin: 0px 0 0 0;
}
.various-travel-pkgs-single-content-day-price {
    display: none;
}
.various-travel-pkgs-single-content-title h3 {
    font-size: 15px;
    padding: 5px 0 15px 0;
    min-height: 90px;
}
.various-travel-pkgs-single-content-title p {
    font-size: 12px;
    padding: 5px 0 10px 0;
    display: none;
}
.various-travel-pkgs-single-content-day p {
    font-size: 12px;
}
.various-travel-pkgs-single-content-day i {
    font-size: 12px;
}
.various-travel-pkgs-single-content-price p {
    font-size: 16px;
}
.various-travel-pkgs-single-content-btn .btn-all-pink {
    padding: 5px 10px;
    margin: 0;
    font-size: 12px;
}
.various-travel-pkgs-single-content {
    padding: 10px 10px;
}
.various-travel-pkgs-btn .btn-all-green {
    padding: 6px 15px;
    margin: 5px 0;
    font-size: 12px;
    width: 100%;
    float: left;
}
.various-travel-pkgs-btn {
    margin: 10px 0 0 0;
}
#various-travel-pkgs-sec .row{
   margin-right: 0px;
   margin-left: 0px;
}
#donot-find-hm-sec .row{
   margin-right: 0px;
   margin-left: 0px;
}
.donot-find-hm-sec-card h2 {
    font-size: 20px;
}
.donot-find-hm-sec-card p {
    font-size: 12px;
}
.donot-find-hm-sec-card-btn .btn-all-green {
    padding: 6px 15px;
    margin: 5px 0px 0 0;
    font-size: 11px;
    display: inline-block;
}
.donot-find-hm-sec-card-btn .btn-all-pink {
    padding: 6px 15px;
    margin: 5px 0px 0 0;
    font-size: 11px;
    display: inline-block;
}
.donot-find-hm-sec-card-btn {
    margin-top: 5px;
}
#special-gp-tours-sec .row{
   margin-right: 0px;
   margin-left: 0px;
}
.special-gp-tours-box-text h3 {
    font-size: 16px;
    padding: 5px 0 0px 0;
    text-align: center;
    line-height: 22px;
}
.special-gp-tours-box-text p {
    font-size: 12px;
    padding: 5px 0 5px 0;
}
.special-gp-tours-box-text ul li p {
    font-size: 12px;
    padding: 10px 0 10px 0;
}
.special-gp-tours-box-text ul li {
    font-size: 12px;
}
.special-gp-tours-box-text ul li i {
    font-size: 14px;
}
.special-gp-tours-box-text a {
    font-size: 13px;
}
.special-gp-tours-box-card-price .price-tag-btn .btn-tab {
    padding: 2px 4px;
    font-size: 10px;
}
.special-gp-tours-box-card-price .price-tag p {
    font-size: 15px;
}
.special-gp-tours-box-tab-sec .tabbable-line h3 {
    font-size: 15px;
}
.special-gp-tours-box-tab-sec .tabtop li a{
    
    font-size: 13px;
}
.special-gp-tours-box-tab-sec .tabtop li a:last-child {
    padding: 2px 8px;
}
.date-content p {
    font-size: 12px;
}
.available-content p {
    font-size: 12px;
}
.price-tab-content p {
    font-size: 12px;
}
#latest-blog-hm-sec .row{
	margin-right: 0px;
    margin-left: 0px;
}
.latest-blog-hm-single-text .date-list p {
    font-size: 12px;
    padding: 5px 0 5px 0;
}
.latest-blog-hm-single-text .titel-content h3 {
    font-size: 14px;
    padding: 10px 0 5px 0;
}
.latest-blog-hm-single-text .titel-content p {
    font-size: 12px;
    padding: 10px 0 20px 0;
}
.latest-blog-hm-single-btn .btn-all-pink {
    padding: 4px 15px;
    font-size: 11px;
    width: 100%;
    float: left;
    margin: 0;
}
.clients-testi-single-top .test-text p {
    font-size: 12px;
    padding: 0 0px;
}
.clients-testi-single-top .test-text p {
    font-size: 12px;
    padding: 0 0px;
}
.clients-testi-single-bottom .bottom-test-icon {
    width: 80px;
    height: 80px;
}
.clients-testi-single-bottom {
    padding: 10px 0 0 0;
}
#client-hm-testimonial-sec .row{
	margin-right: 0px;
    margin-left: 0px;	
}
#photo-gallery-hm-sec .row{
	margin-right: 0px;
    margin-left: 0px;	
}
#photo-gallery-hm-sec .tabsetting {
    width: 100%;
}
#photo-gallery-hm-sec .tabtop li a {
    font-size: 12px;
}
#photo-gallery-hm-sec .tabtop li a:last-child {
    padding: 8px 16px;
}
.nav-tabs>li {
    margin: 0 2px;
}
#photo-gallery-hm-sec .margin-tops4 {
    margin-top: 10px;
}
#photo-gallery-hm-sec .margin-tops {
    margin-top: 0px;
}
#photo-gallery-hm-sec .col-xs-4{
	padding-right: 5px;
    padding-left: 5px;
}
.hm-gallery-fig {
    margin: 5px 0;
}
.our-partner-hm-logo {
    padding-top: 15px;
    height: 90px;
}
.our-partner-hm-sec-main {
    margin-top: 0px;
}
.all-conclusion-sec {
    padding-bottom: 5px;
}
.all-conclusion-box {
    width: 97%;
    padding: 10px 5px 5px 5px;
}
.all-conclusion-box h3 {
    font-size: 14px;
    text-align: cen
}
.all-conclusion-box ul li a {
    font-weight: 400;
    font-size: 12px;
}
.all-conclusion-box ul li:before {
    font-size: 12px;
}
#footer-main-sec {
    padding-top: 0px;
}
.footer-box-sec {
    padding: 15px 0px 15px 0;
}
.footer-box-card-sec h4 {
    font-size: 14px;
    margin-bottom: 18px;
}
.footer-about-sec p {
    font-size: 12px;
    line-height: inherit;
}
.footer-social-icon ul li i {
    font-size: 16px;
}
.footer-about-sec a {
    padding: 8px 16px;
    margin: 15px 0px 0 0;
    font-size: 11px;
}
.footer-box-card-sec {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 0px;
}
.footer-gt-touch ul li p {
    font-size: 12px;
    padding: 0 0 0 22px;
}
.footer-gt-touch ul li i {
    font-size: 16px;
}
.footer-gt-touch ul li {
    padding: 0 0 10px 0;
}
.footer-getin-btn .btn-all-pink {
    padding: 6px 15px;
    margin: 0 3px 0 0;
    font-size: 11px;
}
.footer-getin-btn .btn-all-green {
    padding: 6px 15px;
    margin: 0 3px 0 0;
    font-size: 11px;
}
.footer-getin-btn {
    padding-top: 15px;
    display: none;
}
.footer-copy-right p {
    font-size: 12px;
}
.footer-copy-right {
    padding: 10px 0;
}
.footer-menu {
    display: none;
}
.footer-social-icon ul {
    float: none;
    text-align: center;
}
.footer-menu-sec {
    padding: 5px 0;
    margin: 0px 0 0 0;
}
#top-places-hm-sec {
    padding: 10px 0 10px 0;
}
#various-travel-pkgs-sec {
    padding: 20px 0 10px 0;
}
#client-hm-testimonial-sec {
    padding: 20px 0 10px 0;
}
#photo-gallery-hm-sec {
    padding: 0px 0 10px 0;
}
#bredcrumb-sec {
    display: none;
}
.inner-banner-text p {
    display: none;
}
.inner-banner-text h5 {
    display: none;
}
.inner-banner-text h2 {
    font-size: 16px;
    letter-spacing: 0px;
    word-spacing: 0px;
}
.inner-banner-btn .btn-all-pink {
    padding: 6px 15px;
    margin: 0 4px 0 0;
    font-size: 12px;
}
.inner-banner-btn .btn-all-green {
    padding: 6px 15px;
    margin: 0 0 0 4px;
    font-size: 12px;
}
.inner-banner-btn {
    padding-top: 12px;
}
.who-we-are-heading h2 {
    font-size: 20px;
}
.who-we-are-text ul {
    display: none;
}
#who-we-are-sec {
    padding: 30px 0 10px 0;
}
#who-we-are-sec .row {
    margin-right: 0px;
    margin-left: 0px;
}
.who-we-are-text {
    margin-top: 2px;
}
.who-we-are-text p {
    font-size: 12px;
}
#travel-showcase-sec {
    padding: 10px 0 15px 0;
}
.travel-showcase-heading h2 {
    font-size: 18px;
}
.travel-showcase-text {
    margin-top: 4px;
}
.travel-showcase-text p {
    font-size: 12px;
}
.travel-showcase-text-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}
.travel-showcase-text-btn .btn-all-pink {
    padding: 6px 15px;
    font-size: 12px;
}
#why-modal-5 .close {
    font-size: 26px;
}
#our-partner-hm-sec .row{
	margin-right: 0px;
   	margin-left: 0px;
}
.row{
	margin-right: 0px;
   	margin-left: 0px;	
}
.np-gallery a {
    margin: 5px 0;
}
#gallery-euro-sec .col-xs-4{
	padding-right: 5px;
    padding-left: 5px;
}
.heading-center p {
    font-size: 12px;
    padding: 0px 0 10px 0;
}
.our-team-sec-box-icon {
    width: 80px;
    height: 80px;
}
.our-team-sec-main {
    margin-top: 10px;
}
.our-team-sec-box-text h4 {
    font-size: 15px;
    padding: 10px 0 5px 0;
}
.our-team-sec-box-text h6 {
    font-size: 13px;
    padding: 3px 0 5px 0;
}
.our-team-sec-box-text h6 {
    font-size: 13px;
    padding: 3px 0 5px 0;
}
.ttca-text h2 {
    font-size: 17px;
}
#we-plan-sec {
    padding: 25px 0 0 0;
}
.ttca-text p {
    font-size: 12px;
    padding: 5px 0 15px 0;
}
.contact-adres h3 {
    font-size: 15px;
    padding: 15px 0 15px 0;
}
.contact-adres ul li p {
    font-size: 12px;
}
.contact-adres ul li i {
    line-height: 20px;
    font-size: 14px;
}
.contact-quick h3 {
    padding: 20px 0 15px 0;
}
.contact-quick ul li p {
    font-size: 12px;
}
.contact-quick ul li i {
    line-height: 20px;
    font-size: 14px;
}
.contact-quick ul li {
    padding: 0 0 5px 0;
}
.contact-social-icon h4 {
    font-size: 14px;
    padding: 15px 0 10px 0;
}
.contact-chat-btn {
    display: none;
}
#contact-social-sec {
    padding: 10px 0 10px 0;
}
#contact-tab-sec .tabtop li a {
    font-size: 12px;
}
#contact-tab-sec .nav-tabs>li {
    margin: 0 5px;
}
#contact-tab-sec .tabtop li a:last-child {
    padding: 8px 5px;
}
#contact-tab-sec .nav-tabs>li {
    margin: 0 2px;
    width: 30%;
}    
.top-tab-desc p {
    font-size: 12px !important;
}
.top-tab-desc {
    padding: 0 0px;
}
#contact-tab-sec .margin-tops {
    margin-top: 15px;
}
.euro-contact-form-sec {
    padding: 10px 0px;
}
.euro-contact-form-sec .form-sec-control label {
    font-size: 12px;
}
.euro-contact-form-sec button {
    padding: 6px 20px;
    font-size: 12px;
    margin-top: 15px;
    float: none;
}
.top-overview-sec-main-left p, .top-overview-sec-main-left ul li p {
    font-size: 12px;
}
.top-overview-sec-sidebar {
    margin-top: 20px;
}
.top-overview-sec-sidebar .tlrmad-sec p {
    font-size: 13px;
}
.top-overview-sec-sidebar .sidebar-btn .btn-all-pink {
    padding: 8px 15px;
    font-size: 13px;
    width: 100%;
}
.new-btn {
    font-size: 12px;
}
.new-btn i {
    font-size: 12px;
}
.uz-trvl-tps-faqs-desc .panel-title {
    font-size: 14px;
}
.uz-trvl-tps-faqs-desc .more-less {
    width: 30px;
    height: 24px;
    line-height: 20px;
    padding: 0px 0 0 8px;
    font-size: 12px;
}
.uzbe-trvl-advc-box-single-icon {
    width: 40px;
    height: 40px;
}
.uzbe-trvl-advc-box-single-text h4 {
    font-size: 13px;
    min-height: 58px;
    padding: 10px 10px 5px 10px;
}
.uzbe-trvl-advc-box {
    width: auto;
    float: none;
}
.uzbe-trvl-advc-box-single {
    padding: 10px 0 5px 0;
    margin: 5px 0;
}
#uzbe-trvl-advc-sec .col-xs-6{
    padding-right: 5px;
    padding-left: 5px;
}
.popu-uzbe-dest-box-text-btn .btn-all-pink {
    padding: 5px 10px;
    font-size: 11px;
}
.popu-uzbe-dest-box-text p {
    display: none;
}
.popu-uzbe-dest-box-text ul {
    display: none;
}
.popu-uzbe-dest-box-text {
    padding: 10px 5px;
}
.popu-uzbe-dest-box-text {
    padding: 5px 5px;
}
.popu-uzbe-dest-box {
    margin: 8px 0;
}
#popu-uzbe-dest-sec .col-xs-6{
    padding-right: 8px;
    padding-left: 8px;
}
.popu-uzbe-dest-box-text h3 {
    font-size: 15px;
    padding: 5px 0 5px 0;
}
.popu-uzbe-dest-box-text-btn {
    margin-top: 0px;
}
.various-travel-pkgs-single {
    margin: 8px 0;
}
#various-travel-pkgs-sec .col-xs-6{
    padding-right: 8px;
    padding-left: 8px;
}
.accomd-price-small-tbl table {
    width: 100%;
    float: left;
    position: relative;
}
.all-itinary-heading h2 {
    font-size: 20px;
    margin: 0px 0 30px 0;
}
#all-itinary-tour-descp-sec {
    padding: 20px 0 10px 0;
}
.itinary-tour-overview-list ul li p {
    font-size: 13px;
}
.itinary-tour-overview-list ul li span {
    font-size: 13px;
}
.itinary-tour-overview-list ul li {
    padding: 10px 0;
}
.itinary-tour-descp-text p {
    font-size: 12px;
}
.itnry-note-sec h6 {
    font-size: 16px;
    padding: 0 0 5px 0;
}
.itnry-note-sec p {
    font-size: 12px;
    padding: 0 0 10px 0;
}
.itnry-note-sec {
    padding: 5px 0 10px 0;
}
#all-itinary-tour-highlights-sec {
    padding: 15px 0 10px 0;
}
.itinary-tour-highlights ul li p {
    font-size: 12px;
    padding: 0 0 0 18px;
}
.itinary-tour-highlights ul li:before {
    font-size: 14px;
}
#all-itinary-tour-progrm-sec {
    padding: 20px 0 10px 0;
}
.itenary-content-title {
    font-size: 14px;
}
.itenary-content-text p {
    font-size: 12px;
    padding: 0 0 8px 0;
}
.itenary-content-day-sec ul li:before {
    width: 20px;
    height: 20px;
}
.itenary-content-day-sec ul li:after {
    width: 3px;
    top: 10px;
    left: 8px;
}
.itenary-content-day-sec ul li {
    padding-left: 25px;
    padding-bottom: 20px;
}
.accomd-price-small-tbl table td p {
    font-size: 12px;
}
.accomd-price-small-tbl table td h4 {
    font-size: 16px;
}
.accomd-price-lrg-tbl table td p {
    font-size: 12px;
}
#pakg-accomodation-sec {
    padding: 10px 0 20px 0;
}
.itinary-tour-includes ul li p {
    font-size: 12px;
}
.inc-icon1 i {
    font-size: 12px;
    margin: 8px 0;
}
#all-itinary-gen-faqs-sec #accordion .panel-body p {
    padding-left: 10px;
    font-size: 12px;
}
#all-itinary-gen-faqs-sec #accordion .panel-body {
    padding: 10px 0px 10px 0px;
}
#all-itinary-gen-faqs-sec #accordion .panel-title a {
    font-size: 14px;
    padding: 5px 2px 5px 30px;
}
#all-itinary-gen-faqs-sec #accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
    font-size: 20px;
    height: 40px;
    left: -20px;
    line-height: 40px;
    top: -8px;
    width: 40px;
}
#all-itinary-tour-reviews-sec {
    padding: 20px 0 10px 0;
}
.comment-rev .img-thumbnail {
    width: 40px;
    height: 40px;
}
.comment-rev .comment-arrow {
    left: -9px;
}
.comment-rev .comment-block .comment-by {
    padding: 5px 5px 5px 5px;
}
.comment-rev .comment-block .comment-by p {
    font-size: 12px;
}
.rply-str-icon ul li i {
    font-size: 10px;
}
.rply-str-icon ul li a {
    font-size: 12px;
    margin: 0 0px;
}
.comment-rev .comment-by-text {
    padding: 5px 5px 5px 5px;
}
.comment-rev .comment-by-text p {
    font-size: 12px;
}
.all-tour-itinerary-sec-right {
    margin-top: 30px;
}
.sider-booking-price-list .price p {
    font-size: 24px;
}
.sider-booking-price-list .price sub {
    font-size: 13px;
}
.book-price-list ul li i {
    font-size: 13px;
}
.book-price-list ul li p {
    font-size: 13px;
    padding: 5px 5px 5px 20px;
}
.book-price-list {
    padding: 0;
}
.booking-tour-form {
    padding: 20px 0px;
}
.side-submit-btn {
    padding: 8px 30px !important;
    font-size: 13px;
    margin-top: 10px;
}
.need-help-sec {
    margin: 30px 0 0px 0;
}
.need-help-text p {
    font-size: 13px;
}
.need-help-text {
    padding: 10px 15px 20px 20px;
}
.why-book-with-text h4 {
    font-size: 15px;
}
.why-book-with-text p {
    font-size: 13px;
}
.book-form-group label {
    font-size: 12px;
}
.book-form-group input {
    padding: 6px 15px;
    font-size: 12px;
}
.date-icon-book {
    right: 20px;
    font-size: 14px;
    top: 30px;
}
.inc-icon1 {
    width: 30px;
    height: 30px;
}
.none {
    display: block;
}
.itnry-sidebar-sticky {
    position: relative;
    top: 0;
}
.uzbe-trvl-advc-box-container {
    width: 46%;
}









}
@media only screen and (max-width:1920px) and (min-width:768px) {

}
